<!DOCTYPE html>
<html class="theme-next pisces" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="themes/default/DIYgodhead::head(null)">
    </title>
</head>
<body class="theme-darling">
<div class="container sidebar-position-right page-home">
    <header th:replace="themes/default/DIYgodNav::nav()" id="header" class="header">
    </header>
    <main class="main" id="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div class="content" id="content">
                    <div class="post-block archive post">
                        <div id="posts" class="posts-collapse"><h1 class="post-collapse-title" itemprop="name headline">
                            归档</h1>
                            <div class="category-all-page">
                                <div class="category-all-title">分类</div>
                                <div class="category-all">
                                    <ul class="category-list">

                                        <li class="category-list-item" th:each="entry:${categoriesEntries}">
                                            <a class="category-list-link" th:href="'/category/'+${entry.key}" th:text="${entry.key}"></a>
                                            <span class="category-list-count" th:text="${entry.value}"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="collection-year" th:each="archive : ${archives}">
                                <div class="collection-title"><h1 class="archive-year" th:text="${archive.date}" th:id="'archive-year-'+${archive.date}">2021</h1>
                                </div>
                                <article class="post post-type-normal" th:each="article : ${archive.articles}">
                                    <header class="post-header"><h2 class="post-title">
                                        <a class="post-title-link scaleup" th:href="${commons.permalink(article.cid, article.slug)}" itemprop="url">
                                            <span itemprop="name" th:text="${article.title}"></span></a></h2>
                                        <div class="post-meta">
                                            <time class="post-time" itemprop="dateCreated"
                                                   th:text="${commons.fmtdate(article.created,'MM-dd')}">
                                            </time>
                                        </div>
                                    </header>
                                </article>

                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="pagination" th:replace="comm/macros::pagination(${articles},'page')">-->
<!--                    </div>-->
                </div>
            <div th:replace="comm/macros::sidebar()"></div>
        </div>
    </main>
    <div th:replace="themes/default/DIYgodFoot::footer()"></div>

</div>
<script type="text/javascript" src="/user/js/sagiri.min.js?v=1.0.1"></script>
<script>"serviceWorker" in navigator && window.addEventListener("load", () => {
    navigator.serviceWorker.register("/user/js/sw.js")
})</script>
</body>
</html>